#main {
    display: grid;
    grid-template-columns: 600px;
    grid-template-rows: 100px 100px 100px 100px 100px 150px 30px;
    justify-items: center;
    background-color: rgb(43, 40, 66);
    border-radius: 30px;
    width: 600px; 
    box-shadow: 10px 10px 1px rgb(0, 0, 0);   
}
body{
    display: grid;
    justify-content: center;
}
#fundo{
    background-color: brown;
}
#forms {
    color: white;
    margin-left: 10px;
}

#resultado {
    grid-row: 4;
    font-size: 25px;
}
#btn{
    font-size: 28px;
    color: white;
    background: tomato;
    padding: 10px;
    margin: 3%;
    width: 400px;
    grid-row:5;
}

.font{
    font-size: 25px;
    text-align: center;
}
#titulo{
    font-size: 45px;
    color: white;
    margin-top: 30px;
    border-bottom: 2px white;
}
#resultado{
    display: flex;
    color: rgb(0, 0, 0);
    grid-row: 6;
    margin: 7px;
    width: 400px;
    border-radius: 10px;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.posicao1{
    grid-row: 2;
}
.posicao2{
    grid-row: 3;
}
.posicao1, .posicao2, .posicao3{
    border-radius: 5px;
}
#resultadoIMC{
    grid-row: 7;
    color: rgb(0, 0, 0);
    margin: 7px;
    width: 400px;
    font-size: 25px;
    
}
.TomaCuidado{
    background-color: red;
}
.MaisOuMenos{
    color: purple;
}
.QuaseDeBoa{
    background-color: brown;
}
.ComoTaDeBoa{
    background-color: tomato;
}
.AcademiaRapá{
    background-color: coral;
}
.IxiBoMalhar{
    background-color: crimson;
}
.MoioOPéDoMonkey{
    background-color: cyan;
}
.BoaSorteAmigo{
    background-color: rgb(0, 217, 255);
}
#nome:hover, #peso:hover, #altura:hover{
    background-color: rgb(0, 217, 255);
    color: white;
    transition: 0.9s;
}
